body {
    background-color: #fafafa;
}

.navbar {
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.05);
}

.navbar a {
    color: #333333;
}

.breadcumb {
    margin-top: 20px;
}

.breadcrumb {
    background-color: rgb(246, 246, 246);
    color: black;
}

.breadcrumb a {
    text-decoration: none;
    color: #d4a300;
}

.content {
    text-align: center;
    height: 400px;
}

.isi {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

.tombol {
    text-align: center;
    padding: 15px;
    padding-bottom: 30px;
}

.tombol button {
    margin-bottom: 8px;
    margin-right: 5px;
}

footer {
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    color: #cacaca;
    font-size: 14px;
}